<nav>
    <ul>
        <li><a href="/">Home</a></li>
        {{#if loggedIn}}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><button id="logout-btn">Logout</button></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        {{/if}}
    </ul>
</nav>
