{{#extend "content"}}
  {{#if loggedIn}}
    <h1>Welcome to the Tech Blog!</h1>
    <div class="posts">
      {{#each posts}}
        {{> post-card this}}
      {{/each}}
    </div>
  {{else}}
    <h1>Please log in to view posts</h1>
  {{/if}}
{{/extend}}
