{{!-- Extend the main layout --}}
{{#extend "layouts/main"}}
    {{#content "content"}}
        <h1>Sign Up</h1>
        <form action="/api/users" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
    {{/content}}
{{/extend}}
